

header {
  background-color: #60739d;
  color: #0F0F14;
  width: 100vw;
  height: 100px;
  border-bottom: solid 1px #0F0F14

}

header .inner {
  width: 100vw;
  height: 100%;
  display: block;
  margin: 0 auto;
}

header .profile {
  display: table;
  height: 100%;
  float: left;
  cursor: pointer;
  margin-left: 30px;
  margin-top: 15px;
}

header .profile:hover {
  filter: brightness(1.10);
}

header .profile div {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

header nav {
  float: right;
  height: 100%;
}


header nav li {
  display: table;
  height: 100%;
  float: left;
  margin-right: 30px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

header nav span {
  display: table-cell;
  vertical-align: middle;
}

header nav span:hover {
  color: #FAFEF9;
}

body {
  
  height: 110%;
  width: 100%;
  margin: 0 0 0 0;
  background-image: url(C:\Users\colel\OneDrive\Desktop\react-portfolio\portfolio\src\assets\background\portfolio-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  font-family: sans-serif;
}

main {
  margin: 0 auto;
  max-width: 100%;
  color: #FAFEF9
}

/* Projects Styling */
.projects-header h1 {
  font-size: 50px;
  text-align: center;
  color: #FAFEF9 ;
  padding: 1rem;
  border-radius: 0.75rem;
  text-shadow: 2px 2px #2E2C42;

}

.card-container {
  display: inline-flex;
}

.card {
  color: #0F1014;
  background-size: cover;
  padding: 10rem 0 0 ;
  max-width: 300px;
  border-radius: 0.75rem;
  overflow: hidden;
  /* border: solid 1px black; */
  box-shadow: 1px 1px black;
  margin-left: 10px;
  margin-right: 10px;
  transition: transform 500ms ease;
}

.card-content {
  padding: 1rem 1rem 1.5rem 1rem;
  background: #60739d;
}

.card-title {
  position: relative;
  width: max-content;
}

.card-title::after {
  content: "";
  position: aboslute;
  height: 4px;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #2E2C42;

  transition: transform 500ms ease;
}

.button {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: #FAFEF9;
  background-color: #2E2C42;
  padding: .5em 1.25em;
  border-radius: .5em;
  margin-right: 5px;

}

.button:last-of-type {
  margin-right: 0;
}

.button:hover, .button:focus {
  background-color: #98A1CB;
  color: #2E2C42;

}

#card-1 {
  background-image: url(C:\Users\colel\OneDrive\Desktop\react-portfolio\portfolio\src\assets\projects\weather-dashboard.png);
}
#card-2 {
  background-image: url(C:\Users\colel\OneDrive\Desktop\react-portfolio\portfolio\src\assets\projects\gym-crm.png);
}
#card-3 {
  background-image: url(C:\Users\colel\OneDrive\Desktop\react-portfolio\portfolio\src\assets\projects\team-page.png);
}
#card-4 {
  background-image: url(C:\Users\colel\OneDrive\Desktop\react-portfolio\portfolio\src\assets\projects\password-generator.png);
}
#card-5 {
  background-image: url(C:\Users\colel\OneDrive\Desktop\react-portfolio\portfolio\src\assets\projects\note-taker.png);
}
#card-6 {
  background-image: url(C:\Users\colel\OneDrive\Desktop\react-portfolio\portfolio\src\assets\projects\react-portfolio.PNG);
}

/* About Styling */
.about h1 {
  font-size: 50px;
  text-align: center;
  color: #FAFEF9 ;
  padding: 1rem;
  border-radius: 0.75rem;
  text-shadow: 2px 2px #2E2C42;
}
.about-content {
  margin: auto;
  width: 50%;
  padding: 10px;
  background-color: #2E2C42;
  border-radius: 1rem;
  box-shadow: 1px 1px #2E2C42;
}

.about-content p {
  font-size: 30px;
  text-align: center;
  color: #FAFEF9 ;
  padding: 1rem;
  border-radius: 0.75rem;
  text-shadow: 2px 2px #2E2C42;
}

.hs-container {
  margin: auto;
  width: 15%;
  padding: 10px;
}

.hs {
  max-width: 150px;
  max-height: 150px;
  border: 1px solid black;
  border-radius: 1rem;
}

/* Contact */
#contact-me {
  font-size: 50px;
  text-align: center;
  color: #FAFEF9 ;
  padding: 1rem;
  border-radius: 0.75rem;
  text-shadow: 2px 2px #2E2C42;
}

.contact-form {
  display: block;
  background-color: #60739d;
  max-width: calc(25vw);
  max-height: calc(50vh);
  margin: 2rem auto;
  border: 2px solid #0F1014;
  padding: 2rem;
}

.contact-form label {
  color: #0F0F14;
  display: block;
  margin-top: 5px;
  margin-left: 1px;
  margin-bottom: 2px;
}

.contact-form input, textarea {
  display: block;
  border: 1px solid #0F0F14;
  width: 100%;
  max-height: calc(25vh);
  max-width: calc(25vw);
}

/* Resume */
.resume-h1 {
  font-size: 50px;
  text-align: center;
  color: #FAFEF9 ;
  padding: 1rem;
  border-radius: 0.75rem;
  text-shadow: 2px 2px #2E2C42;
}

.dl-container {
  margin: auto;
  width: 6%;
  padding: 10px;
}

.dl-button {
  margin: 0 5px 0 5px ;
  padding: 10px;
  cursor: pointer;
  display: block;
  text-decoration: none;
  color: #0F0F14;
  background-color: #60739d;
  padding: .5em 1.25em;
  border-radius: .5em;
  margin-right: 5px;
}

.dl-button:hover {
  background-color: #98A1CB;
}


/* Footer */
footer {
  position: absolute;
  margin-top: 50px;
  margin-bottom: 0;
  bottom: 0;
  background-color: #60739d;
  color: #2E2C42;
  width: 100vw;
  height: 100px;
  border-bottom: solid 1px #0F0F14;
}

footer .inner {
  display: grid;
  height: 100%;
  width: 100%;
  margin: 0 0 0 0;
}

footer nav {
  margin: 0 auto;
  padding: 10px;
  position: relative;
  float: none;
  margin-top: 25px;
}

footer nav li {
  display: table-cell;
  height: 100%;
  cursor: pointer;
}

footer nav span {
  margin-right: 30px;
}






/* makes it so there is no transition on touch screen */
@media (hover) {
  .card-content {
    transform: translateY(65%);
    transition: transform 500ms ease;
    transition-delay: 500ms;
  }  
    /* if you tab over the card or focus on it in some other way, it transforms (focus within) */
.card:hover, .card:focus-within {
  transform: scale(1.05);
}

/* if you tab over the card or focus on it in some other way, it transforms (focus within) */
.card:hover .card-content,
.card:focus-within .card-content {
  transform: translateY(0);
  background: #60739d;
}

/* if you tab over the card or focus on it in some other way, it transforms IMMEDIATELY (focus within 0ms) */
.card:focus-within .card-content {
  transition-duration: 0ms;
}

.card-content > *:not(.card-title) {
  opacity: 0;
  transition: opacity 500ms linear;
}

.card:hover .card-content > *:not(.card-title),
.card:focus-within .card-content > *:not(.card-title) {
  opacity: 1;
  transition-delay: 1000ms;
}
}

@media (prefers-reduced-motion: reduce)
  {
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms;
      animation-iteration-count: 1;
      transition-duration: 0.01ms;
      scroll-behavior: auto;
      transition-delay: 0ms;
    }
  }

  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  head nav {
    float: left;
  }


  .card-container {
    display: grid;
    justify-content: center;
  }

  .card {
    margin-top: 10px;
  }


}


