
main {
  margin: 0 auto;
  max-width: 90%;
  padding: 50px 30px;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}